.calendar {
  text-align: center;
}

.calendar-header {
  margin-bottom: 10px;
}

.weekdays {
  display: flex;
  justify-content: space-around;
}

.weekday {
  flex: 1;
  text-align: center;
}

.day {
  flex: 1;
}

.chart-container {
  position: relative;
}

#myChart {
  margin-bottom: 10px;
}

.current-date {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}
